<!-- This form now has a destination URL and method: -->
<form action="/new" method="post">
  <div class="form-row py-3 border-top">
    <input type="submit" value="New Game" class="col-md-2 offset-md-5 btn btn-primary form-control"/>
  </div>
</form>
